# ignore commit.sh wrapper
commit.sh
# ignire ini files
*.ini
# ignore json files
*.json
# ignore csv files
*.csv
# ignore bak files
*.bak*
# ignore html files
*.html
# ignore pid files
*.pid
# ignore tmp files
*tmp*
