[local]
cycle_time = 300
output_dir = /foo/bar/
log_file = orwell4awsws_log
# valid run modes:  dev | prod
run_mode = dev


[initalstate]
bucket_name = xxxxxxxx
bucket_key = yyyyyyyy
access_key = zzzzzzzz

