[local]
cycle_time = 300
app_dir = /foo/bar/app
output_dir = /foo/bar/app/output
log_file = orwell4awsws_log
pid_file = orwell4awsws.pid
# valid run modes:  dev | test | prod
run_mode = dev

[initalstate]
bucket_name = xxxxxxxx
bucket_key = yyyyyyyy
access_key = zzzzzzzz

